@font-face 
{
    font-family: 'ralewaybold';
    src: url('fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'ralewayextrabold';
    src: url('fonts/raleway-extrabold-webfont.woff2') format('woff2'),
         url('fonts/raleway-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'ralewaysemibold';
    src: url('fonts/raleway-semibold-webfont.woff2') format('woff2'),
         url('fonts/raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'ralewaymedium';
    src: url('fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('fonts/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'ralewayregular';
    src: url('fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* enlever les font family non utiles*/
body
{
    font-family: "ralewayregular", "ralewayextrabold", "ralewaymedium", "ralewaybold", arial, sans-serif;
    font-size: 40px;
    padding-top: 80px;
    color: black;
    height: auto;
    margin: 0;
    
}
/* 1ère partie header */
main, header
{
    padding : 0 50px 30px 50px;
}

.premsentete
{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap : 50px;
    row-gap: 20px;
    justify-content: space-between;
    align-items: center;
}
.premsentete a
{
    text-decoration: none;
    color: black;
    font-family: "ralewaysemibold";
}
/* hover ne fonctionne pas*/
header a:hover
{
    text-decoration: none;
    color:#0065FC;
    font-weight: bold;
}

header a:focus /* c bon ? */
{
    text-decoration: none;
    font-weight: bold;
    border-bottom: 3px solid #0065FC;
    color: #0065FC;
    padding: 16px;
    width: 49.5%;
   /*pas encore bon*/
}

.logo img
{
    width: 250px;
}

.logo
{
    grid-column: 1/2;
   grid-row: 1/2;
   justify-self: start;
}

.heb
{
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
   
}

.act
{
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
}

.ins
{
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end;
}

/* 2ème header*/
.entetedeux
{
    margin-top: 80px;
}

h1
{
    font-size: 55px ;
    font-family: "ralewaybold";
    font-weight: bold;
}

h2
{
    font-size: 37px;
    font-family: "ralewayregular";
}
h3
{
    font-size: 35px;
    font-family: "ralewayregular";
}

.nature
{
    font-family: "ralewayregular";
    font-size: 41px;
}

/*bouton recherche ok*/
.englobe
{
    display: flex;
    padding-top: 70px;
}
.containerrecherche
{
    display: flex;
    height: 122px;
    width: 850px;
    border: solid 3px #F2F2F2;
    border-radius : 40px 0px 0px 40px;
    margin-right: 0px;
    border-right: 0px;
  
}

.containermars
{
    display: flex;
}
.infoinconn
{
    background-color:#F2F2F2;
    width: 125px;
    position: relative;
    border-radius: 35px 0 0 35px;
}
.iif
{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-weight: bold;
    font-size: 40px;
}
.inputmarss  
{
    display: flex;
    border: none;
    font-family: "ralewayextrabold";
    font-size: 45px;
    padding-left: 40px;
    outline: none; 
    cursor: pointer;
}
.buttoninfo
{
    display: flex;
    background-color:#0065FC;
    color: white;
    align-items: center;
    border: 2px solid #0065FC;
    border-radius: 40px 40px 40px 40px;
    height: 127px;
    width: 127px;
    margin-left: -40px;
    padding: 0 13px 0 13px;
    font-family: "ralewaybold";
    font-size: 18px;
    outline: none;
    cursor: grab;
    position: relative;
}
.buttoninfo i
{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-weight: bold;
    font-size: 40px;
}
.buttoninfo:active
{
    transform: translateY(4px);
    box-shadow: 0 9px;
}

/*pour les balises filtres ok*/

.containerdesfiltres
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}
.titrefiltre
{
    display: flex;
    font-size: 40px;
    font-family: "ralewaybold";
    padding-right: 100%;
 
}
.filtrecontainer
{
    cursor: grab;

}
.filtreicon
{
    border-radius: 100%;
    width: 130px;
    height: 130px;
    border : #DEEBFF solid 2px;
    background-color: #DEEBFF;
    margin-left: 9px;
    position: absolute;
    z-index: 1;
}
.filtrelabel
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 125px;
    font-family: "ralewayextrabold";
    font-size: 38px;
    border: 5px #d1d1d1 solid; 
    border-radius: 100px;
    padding: 0 55px 0 150px; 
    margin-left: 12px;
    margin-right: 20px;
    position: relative;
    width: auto;
    margin-bottom: 30px;
}
.filtreicon i
{
    color:#0065FC; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-weight: bold;
    font-size: 48px;
}
/*texte icon info ok */
.texteinfo
{
    display: flex;
   
}
.containerinfo
{
    padding-right: 20px;
   
    width: 55px;
    height: 55px;
    border-radius: 100%;
    border: solid 4px #e0dfdf;
    position: relative;
}
.iconinfo
{
    color: #0065FC;
    font-size: 35px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.infoinfo
{
    
   
    font-family: "ralewaymedium";
    padding-left: 25px;
    font-size: 42px;
}
main
{
    margin-bottom: 90px;
}



/* article */
article
{
    background-color: #F2F2F2;
    padding : 40px 0px 0px 0px;
    margin:0;
    height: 4000px;
   
}
article H1
{
    padding-left: 50px;
}


.afficher
{
    margin: 0 50px 0 50px;
    text-decoration: none;
    color: black; 
}

strong
{
    font-family: "ralewaybold";
}

article .phrase
{
    font-size: 35px;
    font-family: "ralewayregular";
    padding-top: 0px;
    margin-top: 15px;
    margin-bottom: 0px;
  
}
article H2
{
    font-family: "ralewaybold";
    font-size: 42px;
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: 0px;   
}
article .etoiles
{
    font-size: 30px;
    padding-top: 16px;
    margin-top: 0px;
   
}
article i
{
    color: #F2F2F2;
    margin-bottom: 0px;
    padding-bottom: 0px;

}

article .bleu
{
    color: #0065FC;
} 


article .note
{  
    font-size: 20px;
    border: 0;
    color: black;
    padding-left: 30px;
}
.containerarticle
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}
article .carte
{
    width: 840px;
    height: 350px;
    background-color: white;
    padding: 10px 10px 140px 10px;
    margin: 15px 0 15px 0;
    border-radius: 55px;
    /*flex: 3; */
}
article img
{   
    width: 100%;
    height: 80%;    
    object-fit: cover; /*image nickel*/
    border-radius: 50px 50px 0 0;
}



/*article i
{
    color: #F2F2F2;
}
article i[bleu]
{
    color: #0065FC;
} */

/*
.note {
    display: block;
    font-size: 16px;
    position: relative;
    overflow: hidden;
  }
  
  .notewrap {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 19px;
  }
  
  .note .starsactive {
    color: #0065FC;
    position: relative;
    z-index: 10;
    display: inline-block;
  }
  
  .note .starsinactive 
  {
    color:white;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-text-stroke: initial;
    overflow: hidden;
  }
*/

aside
{
    background-color: #F2F2F2;
    padding : 40px 0px 0px 0px;
    margin:0;
    height: 1500px;
    display: flex;
    
   
}
aside H1
{
    padding-left: 50px;
}

aside H2
{
    font-family: "ralewaybold";
    border:0;
}
/*.note bon pour tous ???
{  
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding-left: 20px; */

.containeraside
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: right;
    margin: 0 50px 0 50px;
}
aside .carte
{
    display: flex;
    width: 720px;
    height: 370px;
    background-color:white;
    padding: 10px 140px 10px 10px;
    margin: 15px 0 15px 0;
    border-radius: 55px;
 /* flex: 3;*/
}
 aside img
{   
    object-fit: cover;
    width: 46%;
    height: 100%;    
    border-radius: 50px 0px 0px 50px; 
}


aside .phrase
{
    font-size: 35px;
    font-family: "ralewayregular";
    padding-top: 0px;
    
    margin-bottom: 0px;
  
}
aside H2
{
    font-family: "ralewaybold";
    font-size: 42px;
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: 0px;   
}
aside .etoiles
{
    font-size: 30px;
    padding-top: 16px;
    margin-top: 0px;
   
}
aside i
{
    color: #F2F2F2;
    margin-bottom: 0px;
    padding-bottom: 0px;

}

aside .bleu
{
    color: #0065FC;
} 


aside .note
{  
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    color: black;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:flex-start;
   
 
  


}

